@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');

*{
    box-sizing: border-box;
}

/* container */
.container {
    width: 1170px;
    margin: 0 auto;
}
/* title-name */
.title-name {
    font-family: 'Open Sans', sans-serif;
    width: 700px;
    color: black;
}


/* li title-item */


/* ul-title */
.title-list {
    list-style-type: none;
}
/* li content */
.title-item__content {
    font-family: 'Raleway', sans-serif;
    width: 400px;;
    color: black;
}



/* download-btn */
.button{
    display: block;
    width: 200px;
    height: 50px;
    border: none;
}
.button-title--download {
    background-color: #FF4343;
    color: #fff;
    font-family: var(--font-raleway);
    font-size: 18px;
    font-weight: 600;
    transition: background-color .3s ease-in-out;
}
.button-title--download:hover, .button-title--download:focus {
    cursor: pointer;
    background-color: #972b2b;
}    


/* section about-us */
.skill-item__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
li{
    list-style-type: none;
}
.about-us__skills-list{
    display: flex;
}
.skill-item__descr{
    text-align: center;
}







/* section header */
.about-us__main-title{
    padding-top: 50px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}
.about-us__secondary-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.skill-item__descr{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.skill-item__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}




















/* section pricing */
.pricing{
    background-color:#F5F5F5;
    width: 100%;
    height: 100%;
}

/* separator */
.separator{
    width: 170px;
    height: 1px;
    border: 1px solid #EC7979;
    margin: 40px auto;
    text-align: center;
}
