@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --large-container: 1200px;
}

:root {
  --body-color: #fff;
  --basic-font: 16px, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font: var(--basic-font);
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: var(--body-color);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

.container {
  width: var(--large-container);
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container {
    width: 1024px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 771px;
  }
}
@media (max-width: 601px) {
  .container {
    width: 100%;
  }
}

.button {
  display: block;
  width: 370px;
  height: 80px;
  border: none;
  border-color: transparent;
}

.button--primary {
  background-color: #FF4343;
  color: #fff;
  font-family: var(--font-raleway);
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.button--primary:hover, .button--primary:active {
  cursor: pointer;
  background-color: #972b2b;
}

.header {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #BABBC5;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  padding: 35px;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}
.nav__item.active {
  border-bottom: 2px solid #BABBC5;
}
.nav__item:hover {
  cursor: pointer;
  border-bottom: 2px solid #BABBC5;
}
.nav__item:active {
  border-bottom: 2px solid #FF4343;
}
.nav__item:active .nav__link {
  color: #FF4343;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.banner-section {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/home-page-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home-page-bg.jpg");
  background-position: center;
  background-size: cover;
}
.banner-section__content--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
  color: white;
  text-align: center;
}
.banner-section__title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.banner-section__descr {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 80px;
}
.banner-section__find-out-btn {
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */