@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');

*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/* container 
=================*/
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* button 
=================*/
.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: none;
    display: inline-block;
    transition: background-color .1s ease-in-out;
}

.button--red {
    background-color: #EC7979;
    padding: 20px 80px;
}

.button--red-form {
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    text-transform: capitalize;
}

.button--red-form-contact {
    text-transform: capitalize;

}

.button--black{
    border: 2px solid #FFFFFF;
    padding: 20px 155px;
    background-color: rgba(255,255,255,0);
}
.button--black:hover, .button--black:focus {
    background-color: rgba(255,255,255,0.5);
}
.button--black-title:hover {
    background-color: rgba(255,255,255,0.5);
}
.button--black-title:focus {
    background-color: rgba(255,255,255,0.5);
}

.button--black-title {
    padding: 15px 95px;
}

.button:hover, .button:focus {
    cursor: pointer;
    text-decoration: none;
}
.button--red:hover, .button--red:focus {
    background-color: #b15353;
}

/* separator
=================*/
.separator {
    width: 170px;
    height: 1px;
}
.separator--red {
    margin: 40px auto;
    text-align: center;
    background-color:#EC7979;
}
.separator--white {
    margin: 60px auto;
    background-color: #fff;
}

.separator--white-title {
    margin: 50px 0 40px 0;
}


/* header
=================*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    padding: 30px 30px;
    transition: background-color .1s ease-in-out;
}

.nav__link:hover {
    background-color:#EC7979;
}


/* intro
=================*/
.intro {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/header/bg.jpg") center no-repeat;
    height: 100vh;
    background-size: cover;
}
.intro__content {
    display:flex;
    padding: 350px 0;
}



.intro__text {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    
}

.intro__logo--wrapper{
    margin-bottom: 65px;
}

.intro__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;   
}

.intro__subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
    width: 250px;
}

.intro__form {
    margin-left: 50px;
}

.form__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 70px;
}

.form__title--wrapper {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #EC7979;
    text-transform: uppercase;
}

.form__content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 470px;
    border-radius: 10px;
}

.form__controls {
    padding: 50px 50px 75px 50px;
    display: flex;
    flex-direction: column;
}

.form__control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 16px 0;
    margin-bottom: 16px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}
.form__control:last-child {
    margin-bottom: 0;
}
.form__control::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}







/* social-media
=================*/
.social-media {
    background: #F8EFEF;
    margin-bottom: 100px;
}
.social__content {
    display: flex;
    padding: 10px 0;
}
.content__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 25px 0;
}
.content__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}
.content__text {
    width: 45%;
}
.content__socials {
    display: flex;
    align-items:center;
    gap: 40px;
    margin-left: 40px;
}

.socials__icon:hover .socials__icon path {
        fill:rgba(0, 0, 0, 0.5);
        width: 24px;
        height: 24px;
    

}








/* tabs 
=================*/

.tabs__list {
    display: flex;
    position: relative;
}

.tabs__item {
    position: relative;
    width: 200px;
    background: white;
    z-index: 2;
}

.tabs__item:hover {
    top: 1px;
    cursor: pointer;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.tab-item__text {
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;  
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}  

.main__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 60px;
}

.main__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    color:#000000;
}
.main__text--wrapper {
    margin-bottom: 50px;
}

.tabs_content {
    display: flex;
    max-height: 100%;
    height: 500px;
    border: 1px solid #C6CBCD;
}

.tabs__item:hover {
    top: 1px;
    cursor: pointer;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
}

.content__main {
    width: 60%;
    padding: 45px 50px 45px 90px;
}
.content__photo {
    display: flex;
    max-width: 100%;
}

.button__number:active, .button__number:hover, .button__number:focus {
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    cursor: pointer;
}



/* about-us 
=================*/
.about-us {
    padding: 100px 0;
}

.about-us__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin: 0;
}
.about-us__subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 0 0 100px 0;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}


.features-items {
    width: 33.3333%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.features__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
}



.features__title { 
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}


.features__circle {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #EC7979;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}



/* pricing section
====================== */

.pricing {
    background-color:#F5F5F5;
    display: block;
    width: 100%;
    height: 100%; 
    padding: 50px 0;
}


.pricing__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.pricing__subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}


.pricing-item__content {
    width: 33.3333%;
    transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
}


.pricing__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 100px;
}

.pricing-item__title {
    background: #333333;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    margin: 2px auto;
    padding: 13px 0;
}


.pricing-item__price {
    background: #333333;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    padding: 20px 0;
    color: #FFFFFF;
    text-align: center;
    margin: 2px auto;
}


.pricing-item__freeforlife {
    background: #333333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 2px auto;
    height: 50px;
    padding: 13px 0;
}

.pricing-item__desc {
    background: #fff;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    margin: 2px auto;
    padding: 13px 0;
}

.pricing-item__content:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    transform: translateY(-20px);
}




/* customers section
====================== */

.customers{
    padding: 100px 0 10px 0;
}
.customers__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.customers__subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 80px;
}

.customers__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 0;
}

.customer__item {
    width: 30%;
    margin-bottom: 30px;
    position: relative;
}

.customer__info {
    display: flex;
    align-items: center;
}

.customer__text--wrapper {
    background: #E2E2E2;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 50px;
}

.customer__text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}

.customer__name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #000000;
    margin-top: 0;
}

.customer__info-avatar {
    width: 70px;
    height: 70px;

}

.customer__details{
    margin-left: 20px;
}


.customer__group {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    color: #000000;
}

.customer__text--wrapper::after {
    content: '';
    display: block;
    position: absolute;
    left: 15%;
    width: 30px;
    height: 30px;
    background: #E2E2E2;
    transform: rotate(45deg);
}

/* design section
====================== */

.design {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/designbc.jpg") center no-repeat;
    background-size: cover;
    height: 442px;
    margin-bottom: 100px;
}


.design__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #fff;
    padding-top: 100px;
}

.design__subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}

.design__head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title__container  {
    position: relative;
    z-index: 2;
    text-align: center;
    
}



/* contact section
====================== */

.contact__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.contact__subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 80px
}

.contact__form {
    text-align: center;
    margin-bottom: 50px;
}

.form-second {
    margin-top: 70px;
}

.form-second__left-controls {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form-second__control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 16px 0;
    margin-bottom: 35px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}
.form-second__control:last-child {
    margin-bottom: 0;
}
.form-second__controls--wrapper {
    display: flex;
    margin-bottom: 50px;
}

.form-second__left-controls, .form-second__right-controls {
    width: 50%
}
.form-second__control--message-field {
    height: 100%;
    resize: none;
    width: 100%;
}


.soccials__icon path {
    fill: black;
}

.socials__link:hover .socials__icon path {
    fill: red;
}


/* footer section
====================== */
.footer {
    background-color: #000;
}

.footer__content {
    padding: 30px 0;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-bottom: 35px;
}

.footer__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.social__link:hover {
    background-color: white;
}
